.icon:before {
	content: '';
    display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 0px;
    vertical-align: middle;
}
.icon-exit:before {
	background: url(images/exit.png);
	background-size: cover;
}
.icon-lock:before {
	background: url(images/lock.png);
	background-size: cover;
}