.wrapper {
    background-color: #f8f8f8;
}

.container {
    margin-left: 160px;
    padding: 50px 20px 40px 10px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 1px 1px 1px 0px #eee;
    background-color: #20a0ff;

    .logo {
        float: left;

        a {
            display: inline-block;
            width: 50px;
            height: 50px;
            text-indent: -100px;
            overflow: hidden;
            vertical-align: middle;
            background: url(images/logo.png) no-repeat;
        }

        span {
            display: inline-block;
            margin-left: 15px;
            color: #fff;
            font-size: 18px;
            vertical-align: middle;
        }
    }

    .menu {
        float: right;

        span {
            color: #fff;
        }
        .sign-out span,
        .change-password span {
            cursor: pointer;
        }
        li {
            float: left;
            margin-right: 15px;
            line-height: 50px;
        }
    }
    
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    padding-top: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ddd;

    .menu>li {
        border-top: 1px solid #ddd;
    }
    .menu li>span {
        display: block;
        padding: 10px 0 10px 20px;
        border-bottom: 1px solid #ddd;
        box-shadow: 1px 1px 2px 0px #ddd;
        font-size: 14px;
        font-weight: bold;
    }
    .menu li>ul {
        margin: 5px 0;
        background-color: #fff;
    }
    .menu li>ul>li>a {
        display: block;
        padding: 5px 0 5px 20px;
        text-decoration: none;
        color: #000;
    }
    .menu li>ul>li>a:hover {
        background-color: #f8f8f8;
    }
    .menu li>ul>li>a:before {
        display: inline-block;
        content: " ";
        width: 5px;
        height: 5px;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
        background-color: #20a0ff;
    }
    .menu li>ul>li.active>a {
        border-right: 3px solid #20a0ff;
        color: #34373f;
        background-color: #f8f8f8;
    }
    .menu li>ul>li.active>a:hover {
        background-color: #f8f8f8;
    }
}

.footer {
    padding: 15px 20px;
    box-shadow: -1px -1px 1px 0px #eee;
    background: #fff;
    color: #aaa;
}

