<div class='outline'>
	<h2 class='kf-title'>基本信息</h2>
	<div class='info clearfix'>
		<div class='col right-line'>
			<div class='row'>
				<p class="key">客户姓名:</p>
				<p class="value">{{CustomerInfo.name | nameDesensitize}}（{{CustomerInfo.sex}}）</p>
			</div>

			<div class='row'>
				<p class="key">注册编号:</p>
				<p class="value">{{CustomerInfo.userId}}</p>
			</div>

			<div class='row'>
				<p class="key">注册手机:</p>
				<p class="value">{{CustomerInfo.cellphone | desensitize}}</p>
			</div>
		</div>

		<div class='col'>
			<div class='row'>
				<p class="key">授信额度:</p>
				<p class="value" v-if='CustomerInfo.creditLineExist'>
					{{CustomerInfo.creditLine.total}}元
				</p>
				<p class="value" v-else>
					无授信额度
				</p>
			</div>

			<div class='row'>
				<p class="key">在借笔数:</p>
				<p class="value">{{CustomerInfo.inLoanCount}}笔</p>
			</div>
		</div>

		<div class='col'>
			<div class='row'>
				<p class="key">可用额度:</p>
				<p class="value">{{CustomerInfo.creditLine.available}}元</p>
			</div>

			<div class='row'>
				<p class="key">待还金额:</p>
				<p class="value">
					{{CustomerInfo.repayableAmount}}元
					<span v-if='CustomerInfo.daysOverdue <= 0'>（正常）</span>
					<span v-else>（逾期）</span>
				</p>
			</div>
		</div>
	</div>
</div>