<div class='new'>
	<h2 class='kf-title'>新建事件</h2>
	<div class='head'>
		<span class="receptime">接听时间：{{this.$route.params.recepTime | dateFormatToS}}</span>
		<span class="cellphone">来电号码：{{phone | desensitize}}</span>
	</div>

	<div class='info clearfix'>
		<el-form :model="createCustomerEventData" :rules='createCustomerEventDataRules' ref="createCustomerEventData" label-width="100px">
			<el-col :span="10">
				<el-form-item label="来电事由:" prop='eventType'>
					<el-select v-model='createCustomerEventData.eventType' size='small' style='width: 100%;'>
						<el-option value='' label='全部'></el-option>
						<el-option value="借款问题"></el-option>
						<el-option value="放款问题"></el-option>
						<el-option value="要求取消借款/额度申请"></el-option>
						<el-option value="还款问题"></el-option>
						<el-option value="资料问题"></el-option>
						<el-option value="续期问题"></el-option>
						<el-option value="逾期问题"></el-option>
						<el-option value="手机相关问题"></el-option>
						<el-option value="账号问题"></el-option>
						<el-option value="其他"></el-option>
					</el-select>
				</el-form-item>
			</el-col>
			<el-col :span="10">
				<el-form-item label="主要问题:" prop='problemType'>
					<el-select v-model='createCustomerEventData.problemType' :disabled='disableProblemType' size='small' style='width: 100%;'>
						<el-option value='' label='全部'></el-option>

						<!-- 借款问题 -->
						<span v-if='createCustomerEventData.eventType == "借款问题"'>
							<el-option value="申请借款流程"></el-option>
							<el-option value="申请借款基本条件"></el-option>
							<el-option value="询问借款所需资料"></el-option>
							<el-option value="询问/催促额度审核"></el-option>
							<el-option value="询问支用额度流程"></el-option>
							<el-option value="单次借款金额/期限 "></el-option>
							<el-option value="额度申请被拒/原因"></el-option>
							<el-option value="额度申请被拒，多久可再次申请"></el-option>
							<el-option value="额度申请被拒，要求重新申请"></el-option>
							<el-option value="额度申请成功，但无法借款"></el-option>
							<el-option value="借款费用项组成部分"></el-option>
							<el-option value="如何查看放款详情"></el-option>
							<el-option value="其它"></el-option>
						</span>

						<!-- 放款问题 -->
						<span v-if='createCustomerEventData.eventType == "放款问题"'>
							<el-option value="咨询/催促放款时间 "></el-option>
							<el-option value="提示提现成功，但是银行卡钱未到账"></el-option>
							<el-option value="提现申请未通过，要求重新申请"></el-option>
							<el-option value="重复放款"></el-option>
							<el-option value="其它"></el-option>
						</span>

						<!-- 要求取消借款/额度申请 -->
						<span v-if='createCustomerEventData.eventType == "要求取消借款/额度申请"'>
							<el-option value="非本人申请，要求取消"></el-option>
							<el-option value="阻止联系联系人信息"></el-option>
							<el-option value="借款额度太少，要求取消"></el-option>
							<el-option value="借款利率太高，要求取消"></el-option>
							<el-option value="没考虑清楚，要求取消"></el-option>
							<el-option value="已通过其他方式借款，要求取消"></el-option>
							<el-option value="借款期限填错，要求取消重新申请"></el-option>
							<el-option value="借款额度填错，要求取消重新申请"></el-option>
							<el-option value="借款期限太短，要求取消"></el-option>
							<el-option value="其它"></el-option>
						</span>

						<!-- 还款问题 -->
						<span v-if='createCustomerEventData.eventType == "还款问题"'>
							<el-option value="询问还款方式及流程"></el-option>
							<el-option value="询问提前还款问题"></el-option>
							<el-option value="咨询部分还款问题"></el-option>
							<el-option value="还款日 如何查询/如何计算"></el-option>
							<el-option value="一键还款失败"></el-option>
							<el-option value="咨询到期还款提醒问题"></el-option>
							<el-option value="已还款成功，但仍提示我欠款 "></el-option>
							<el-option value="质疑一键还款，无需输入密码"></el-option>
							<el-option value="咨询还款减免问题"></el-option>
							<el-option value="重复扣款"></el-option>
						</span>

						<!-- 资料问题 -->
						<span v-if='createCustomerEventData.eventType == "资料问题"'>
							<el-option value="如何提供截图"></el-option>
							<el-option value="借款后信用记录有帮助吗"></el-option>
							<el-option value="人脸识别无法通过"></el-option>
							<el-option value="扫描身份证问题"></el-option>
							<el-option value="无芝麻信用的客户"></el-option>
							<el-option value="实名认证的原因"></el-option>
							<el-option value="资料填写错误，要求修改"></el-option>
							<el-option value="咨询资料填写和认证流程"></el-option>
							<el-option value="咨询资料安全性问题"></el-option>
							<el-option value="资料填写认证未通过"></el-option>
							<el-option value="绑定银行卡流程"></el-option>
							<el-option value="支持哪些银行卡绑定"></el-option>
							<el-option value="银行卡无法绑定成功"></el-option>
							<el-option value="银行卡如何解除绑定"></el-option>
							<el-option value="质疑银行卡绑定后无法解绑"></el-option>
							<el-option value="更换银行卡流程"></el-option>
						</span>

						<!-- 续期问题 -->
						<span v-if='createCustomerEventData.eventType == "续期问题"'>
							<el-option value="询问续期流程"></el-option>
							<el-option value="无法申请续借"></el-option>
							<el-option value="询问续期规则"></el-option>
							<el-option value="续期后的还款金额/还款时间"></el-option>
							<el-option value="续期费用项组成部分"></el-option>
						</span>

						<!-- 逾期问题 -->
						<span v-if='createCustomerEventData.eventType == "逾期问题"'>
							<el-option value="询问逾期概念"></el-option>
							<el-option value="逾期费用项组成部分"></el-option>
							<el-option value="逾期费用计算有误"></el-option>
							<el-option value="逾期后果"></el-option>
							<el-option value="逾期费用已还，但仍提示逾期"></el-option>
						</span>

						<!-- 手机相关问题 -->
						<span v-if='createCustomerEventData.eventType == "手机相关问题"'>
							<el-option value="询问手机服务密码问题"></el-option>
							<el-option value="质疑调取运营商详单相关问题"></el-option>
							<el-option value="询问手机验证问题"></el-option>
							<el-option value="无法接收手机验证码"></el-option>
							<el-option value="询问修改手机号码问题"></el-option>
							<el-option value="对短信内容有疑问"></el-option>
							<el-option value="短信退订相关咨询"></el-option>
						</span>

						<!-- 账号问题 -->
						<span v-if='createCustomerEventData.eventType == "账号问题"'>
							<el-option value="如何注册会员"></el-option>
							<el-option value="如何登陆APP"></el-option>
							<el-option value="询问销户问题"></el-option>
							<el-option value="如何修改密码"></el-option>
							<el-option value="忘记账号密码"></el-option>
						</span>

						<!-- 其他 -->
						<span v-if='createCustomerEventData.eventType == "其他"'>
							<el-option value="建议"></el-option>
							<el-option value="抱怨"></el-option>
							<el-option value="骚扰"></el-option>
							<el-option value="客户被骗"></el-option>
							<el-option value="大小贷和盛付通的关系"></el-option>
							<el-option value="大小贷和盛大小贷的关系"></el-option>
							<el-option value="大小贷客服电话"></el-option>
							<el-option value="客服电话是否收费"></el-option>
							<el-option value="公司地址"></el-option>
							<el-option value="公司网址"></el-option>
							<el-option value="微信公众号"></el-option>
							<el-option value="寻求合作"></el-option>
						</span>

					</el-select>
				</el-form-item>
			</el-col>

			<el-col :span="20">
				<el-form-item prop="content">
					<el-input type="textarea" placeholder='请输入事件内容...' v-model="createCustomerEventData.content"></el-input>
				</el-form-item>
			</el-col>

			<el-col :span="20">
				<el-form-item align='right'>
					<el-button @click='submitEvent("COMPLETE")'>结案</el-button>
					<el-button type='primary' @click='submitEvent("SUBMIT")'>提交</el-button>
				</el-form-item>
			</el-col>
		</el-form>
	</div>
</div>